/* nav {
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-open {
    justify-content: flex-start;
}
.nav-closed {
    justify-content: flex-end;
}

nav .fa {
    margin: 10px;
}

.fa-bars {
    font-size: 25px;
}

.fa-x {
    font-size: 20px;
    color: white;
} */