

.fa-bars-nav-con {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fa-bars {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

.fa-x {
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px;
    font-size: 25px;
    color: white;
}

.fa-x-open {
    opacity: 1;
    transition: .3s;
    z-index: 999;
    transition-delay: .1s;
    cursor: pointer;
}

.fa-closed {
    opacity: 0;
    z-index: -1;
}


.content {
    height: 100vh;
    min-height: fit-content;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .background {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    width: 90%;
    min-height: 90%;
    height: fit-content;
}

.contentOpen {
    opacity: 1;
    transition: .3s;

}

.content-open {
    z-index: 2;
}

.contentClose {
    opacity: 0;
    z-index: 0;
    transition: .7s;

}

h1, h2, h3 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h2 {
    color: #1E1E1E;
}

h3 {
    color: #383838
}

.medias {
    font-size: 30px;
    position: absolute;
    bottom: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.medias #m1, #m2, #m3, #m4 {
    margin: 10px;
}
