* {
  margin: 0;
  padding: 0;
}
html {
  /* background: linear-gradient(160deg, #7e88ea, #484848); */
}
.App {
  height: 100vh;
  min-height: fit-content;
}

.none {
  display: none;
}

.z-index-top {
  
}